@model Employee


<h1 class="alert alert-danger text-center display-3" style="color:darkred" >
    ARE YOU SURE YOU WANT TO DELETE THIS EMPLOYEE?
</h1>


<br />

<partial name="_hrSupport" />

<br />

<div class="row">
    <div class="col-6">
        <dl class="row">
            <dt class="col-4">@Html.DisplayNameFor(e=>e.Id)</dt>
            <dd class="col-8">@Html.DisplayFor(e=>e.Id)</dd>

            <dt class="col-4">@Html.DisplayNameFor(e=>e.FullName)</dt>
            <dd class="col-8">@Html.DisplayFor(e=>e.FullName)</dd>

            <dt class="col-4">@Html.DisplayNameFor(e=>e.Position)</dt>
            <dd class="col-8">@Html.DisplayFor(e=>e.Position)</dd>

            <dt class="col-4">@Html.DisplayNameFor(e=>e.Salary)</dt>
            <dd class="col-8">@Html.DisplayFor(e=>e.Salary)</dd>

            <dt class="col-4">@Html.DisplayNameFor(e=>e.Bonus)</dt>
            <dd class="col-8">@Html.DisplayFor(e=>e.Bonus)</dd>

            <dt class="col-4">@Html.DisplayNameFor(e=>e.PhoneNo)</dt>
            <dd class="col-8">@Html.DisplayNameFor(e=>e.PhoneNo)</dd>

            <dt class="col-4">@Html.DisplayNameFor(e=>e.Email)</dt>
            <dd class="col-8">@Html.DisplayFor(e=>e.Email)</dd>

            <dt class="col-4">@Html.DisplayNameFor(e=>e.Password)</dt>
            <dd class="col-8">@Html.DisplayFor(e=>e.Password)</dd>

            <dt class="col-4">@Html.DisplayNameFor(e=>e.HiringDateTime)</dt>
            <dd class="col-8">@Html.DisplayFor(e=>e.HiringDateTime)</dd>

            <dt class="col-4">@Html.DisplayNameFor(e=>e.BirthDate)</dt>
            <dd class="col-8">@Html.DisplayFor(e=>e.BirthDate)</dd>

            <dt class="col-4">@Html.DisplayNameFor(e=>e.AttendanceTime)</dt>
            <dd class="col-8">@Html.DisplayFor(e=>e.AttendanceTime)</dd>

            <dt class="col-4">@Html.DisplayNameFor(e=>e.LeavingTime)</dt>
            <dd class="col-8">@Html.DisplayFor(e=>e.LeavingTime)</dd>

            <dt class="col-4">@Html.DisplayNameFor(e=>e.DepartmentId)</dt>
            <dd class="col-8">@Html.DisplayFor(e=>e.Department.Name)</dd>


        </dl>
    </div>

    <div class="col-6">
        <img src="@Model.ImageUrl"
             id="empImage"
             asp-append-version="true"
             style="object-fit:contain" />
    </div>

</div>


<br />

<form method="post" asp-controller="Employees" asp-action="DeleteCurrent">
    <input type="hidden" asp-for="Id"/>
    <button type="submit" class="btn btn-danger">Confirme Delete</button>
</form>


<br />

<a asp-controller="Employees"
   asp-action="GetIndexView"
   class="btn btn-primary row col-4">
   Back To Employees
</a>